# .NET / Visual Studio
bin/
obj/
*.user
*.suo
.vs/
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# OS files
Thumbs.db
.DS_Store
